header{
    background-color: lightpink;
    height: 30px;
}
body{
    background-color: antiquewhite;
}
.calendar {
    background-color: pink;
    width: fit-content;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
}
.imagemEncontrada{
    background-color: pink;
    width: fit-content;
    height: 350px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
#img-do-dia{
    max-height: 350px;
}

#descricao {
    background-color: lightpink;
    width: 400px;
    height: fit-content;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
}